$accent-color: #EE6600;
$accent-color-tp: transparentize($accent-color, .4);

$light-bg: #FEFEFE;
$light-fg: #222;
$light-strong: #000;
$light-code-bg: #FEF5D9;

$dark-bg: #222;
$dark-fg: #EEE;
$dark-strong: #FFF;

body {
  background-color: $light-bg;
  color: $light-fg;

  strong {
    color: $light-strong;
  }
}

body.dark {
  background-color: $dark-bg;
  color: $dark-fg;

  strong {
    color: $dark-strong;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a {
  color: inherit;
  text-decoration: none;
}

p {

  a {
    box-shadow: inset 0 -0.5rem 0 $accent-color-tp;
    transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);

    &:hover {
      box-shadow: inset 0 -1.125em 0 $accent-color-tp;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
}