$accent-color: #EE6600;
$accent-color-dark: transparentize($accent-color, .4);
$accent-color-light: transparentize($accent-color, .7);


$light-bg: #FEFEFE;
$light-fg: #222;
$light-strong: #000;
$light-code-bg: #FEF5D9;

$dark-bg: #222;
$dark-fg: #EEE;
$dark-strong: #FFF;
$dark-hr: #666666;

body {
  background-color: $light-bg;
  color: $light-fg;

  strong {
    color: $light-strong;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a {
  color: inherit;
  text-decoration: none;

  box-shadow: inset 0 -0.5rem 0 $accent-color-light;
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);

  &:hover {
    box-shadow: inset 0 -1.125em 0 $accent-color-light;
  }
}

footer div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#copyright {
  display: grid;
  grid-template-columns: auto 1.5rem;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: .2rem 0;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;

  nav {
    ul {
      display: flex;
      li {
        padding: 0;
        padding-right: 1rem;
      }
    }
  }
}

code {
  font-size: 1rem;
}


/** DARK THEME **/
body.dark {
  background-color: $dark-bg;
  color: $dark-fg;

  strong {
    color: $dark-strong;
  }

  hr {
    background-color: $dark-hr;
  }

  a {
    box-shadow: inset 0 -0.5rem 0 $accent-color-dark;  
    &:hover {
      box-shadow: inset 0 -1.125em 0 $accent-color-dark;
    }
  }
}