.themeToggleButton {
  margin-top: -2.3rem;
  &::after {
    font-size: 1.5rem;
    content: '☾';
  }
}

#themeToggle {
  opacity: 0;
  &:checked ~ .themeToggleButton {
    &::after {
      content: '☼';
    }
  }
}
