.image-feed {
  &__list {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    > * {
      width: auto;
      height: 16rem;
      flex-shrink: 0;
      padding: 0 0 get-size('400') 0;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    > * + * {
      margin-inline-start: get-size('500');
    }
  }

  @include media-query('md') {
    &__list {
      > * {
        width: auto;
        height: 20rem;
      }
    }
  }
}