<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}{{ metadata.title }}</title>
  <link rel="stylesheet" href="/assets/css/tailwind.css" />
  <meta name="Description" content="{{ metadata.description }}">
</head>

<body>
  <header>
    {% if title %}<h1>{{ title}}</h1>{% endif %}

    <nav>
      {% for item in menu.main %}
      <a href="{{ item.link }}" title="{{ item.label }}">{{ item.label }}</a>
      {% endfor %}
    </nav>
  </header>

  <main>
    <p>
      <span role="img" aria-label="Timer Clock">⏲</span> about <strong>{{ content | wordcount//200 }} min</strong> read time.
    </p>

    {{ content | safe }}
  </main>

  <footer>
    <nav>
      {% for item in menu.legal %}
      <a href="{{ item.link }}" title="{{ item.label }}">{{ item.label }}</a>
      {% endfor %}
    </nav>
  </footer>
</body>
</html>