:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: #{get-color('light')};
  --color-bg-glare: #{get-color('light')};
  --color-text: #{get-color('dark')};
  --color-text-glare: #{get-color('dark')};
  --color-selection-text: #{get-color('light')};
  --color-selection-bg: #{get-color('dark')};
  --color-stroke: #{get-color('mid')};
  --color-action-bg: #{get-color('primary')};
  --color-action-text: #{get-color('light')};
  --color-theme-primary: #{get-color('primary')};
  --color-theme-primary-glare: #{get-color('primary-glare')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{get-color('highlight')};

}

@include dark-mode() {
  --color-bg: #{get-color('dark')};
  --color-bg-glare: #{get-color('slate')};
  --color-text: #{get-color('light')};
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('light')};
  --color-stroke: #{get-color('slate')};
  --color-theme-primary: #{lighten(get-color('primary'), 50%)};
  --color-theme-primary-glare: #{lighten(get-color('primary-glare'), 50%)};
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: #{get-color('dark')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{get-color('slate')};
  --color-theme-feature-text: #{get-color('highlight')};
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}

.rainbow-text {
  // RAINBOW - From Sarah L. Fossheim - https://codepen.io/fossheim/pen/PooBwRa
  background: #ca4246;
  background-color: #ca4246;
  background: linear-gradient(
    65deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #F56A00 33.333%,
    #F56A00 50%,
    #93CA3F 50%,
    #93CA3F 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  background-size: 57%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbow-text-animation-rev 1.5s ease forwards;

  @keyframes rainbow-text-animation {
    0% {
      background-position: 0 0;
    }
    20% {
      background-position: 0 0;
    }
    100% {
      background-position: -4em 0;
    }
  }

  @keyframes rainbow-text-animation-rev {
    0% {
      background-position: -4em 0;
    }
    20% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  &:hover {
    animation: rainbow-text-animation 1.5s ease forwards;
  }
  // END RAINBOW
}